*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(248, 248, 244);
}
header{
    background-color: white;
    text-align: center;
    padding-top: 16px;
    position: sticky;
    top: 0;
}
header img{
    margin-bottom: 12px;
}


ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 245);
    padding: 4px;
}
a{
    text-decoration: none;
    color: gray;
    padding: 5px;
}
a:hover{
    color: rgb(136, 136, 17);
}

#banner{
    background: url(onçabanner\ \(1\).png);
    height: 120px;
    width: 100%;
    background-clip:content-box ;
    background-size:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    padding: auto;
    color: white;
}
#sobre{
    margin: 10px;
}
.quadrado img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.container{
    display: flex;
    justify-content: space-evenly;
}
.text{
    padding-bottom: 13px;
}
h3{
    padding-bottom: 5px;
}
.lojas{
    margin-top: 18px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.199);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.lojas img{
    margin-top: 5px;
    margin-bottom: 5px;
}
.lojas p{
    margin-bottom: 15px;
}
#contato{
    padding: 10px;
}
.contato-list{
    background-color: rgb(230, 230, 215);
    text-align: center;
     padding:10px;
     border-radius: 10px;
}
footer{
    background-color: rgba(0, 0, 0, 0.562);    text-align: center;
}
@media screen and (min-width:414px) {
    #banner{
        background-size: cover;
    }
    
    h3{
        font-size: 20px;
    }

}
@media screen and (min-width: 700px) {
    #banner{
        height: 250px;
        width: 750px;
        justify-self: center;
        margin: auto;
    }
    #sobre{
        margin: 10px 10%;
        justify-content: space-evenly;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .quadrado{
        text-align: center;
        padding:20px;
        margin:0 20px
    }
    .quadrado img{
        width: 250px;
        height: 250px;
    }
    .lojas{
        
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 700px;
    }
    .lojas img{
        width: 350px;
        
        
    }


    
}